body{margin: 0; padding: 0;}

/* PREMIERE MAQUETTE */

/* HEADER */


.container-header{background-image: url('img/img-header-01.jpg');width: 100%; height: 100vh; background-repeat: no-repeat; background-size: cover; position: relative;}



/* FLECHES HEADER */
.foo{ display: inline-block; vertical-align: middle;}
.rectangle-left, .rectangle-right { height: 31px; width: 360px;}
.rectangle-left{background: linear-gradient(to right,#fba255, #fba2558f, #fba2552d, #fba25500);}
.rectangle-right{background: linear-gradient(to left,#fba255, #fba2558f, #fba2552d, #fba25500);}
.triangle-right { width: 0; height: 0; border-top: 83px solid transparent; border-left: 54px solid #fba255; border-bottom: 83px solid transparent;}
.triangle-left { width: 0; height: 0; border-top: 83px solid transparent; border-right: 54px solid #fba255; border-bottom: 83px solid transparent;}
/* FIN FLECHES HEADER */

.img-logo-header{display: flex; justify-content: center;}
.img-logo-header img{width: 20%; height: auto;}
.container-text-header{color: white; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 800;}
.title-head{text-transform: uppercase; font-size: 40px;}
.text-head{font-size: 30px; }

.content-btn-play{text-align: center; margin-top: 65px;}
.btn-play-header{outline: none;cursor: pointer ;color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 800; font-size: 49px; width: 490px; height: 122px; background-color: #FF9C38; border-radius: 50px; border: none; box-shadow: 0px 10px 0px 0px rgba(197,104,22,1);}


/* PARTIE CE QU'EST UN ESCAPE GAME */
.container-explication-escape{display: flex; justify-content: center; margin-bottom: 115px; margin-top: 20px;}
.content-text-explication{text-align: center; width: 54%;}
.title-explication{font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 800; color: #FF9C38;}
.text-explication{font-size: 25px; color: #464646; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 53px;}

.row{display: flex; flex-direction: column; align-items: center;}
.img-game-explication{width: 486px; height: 347px;}

/* FIN PARTIE CE QU'EST UN ESCAPE GAME */


/* PARTIE CREATION NIVEAUX */
.container-create-game{background-image: url('img/img-create-game.jpg'); width: 100%; height: auto; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; padding-bottom: 85px; padding-top: 37px;}
.content-text-create-game{text-align: center; display: flex; flex-direction: column; align-items: center; color: white; }
.title-create-game{font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 800;}
.text-create-game{font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 50px;}



/* FIN PARTIE CREATION NIVEAUX */


/* FIN PREMIERE MAQUETTE */


/* IMAGES */













/* SECONDE MAQUETTE */







/* FIN SECONDE MAQUETTE */

/**********************MEDIA QUERIES**********************/

@media (max-width: 575.98px) { 

/* PARTIE HEADER */

.img-logo-header img { width: 40%; height: auto; }


.content-btn-play{text-align: center; margin-top: 65px;}
.btn-play-header{outline: none;cursor: pointer ;color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 800; font-size: 24.5px; width: 245px; height: 61px; background-color: #FF9C38; border-radius: 50px; border: none; box-shadow: 0px 10px 0px 0px rgba(197,104,22,1);}
.rectangle-left, .rectangle-right, .triangle-right, .triangle-left{display: none;}

/* PARTIE EXPLICATION ESCAPE */
.text-explication { font-size: 18px; margin-bottom: 0; }
.content-text-explication { text-align: center; width: 91%; }

/* ANIMATION */

@keyframes cf3FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
  }
.content-img-explication{ position: relative; width: 100%; }
.content-img-explication .transition-01 { display: block;  }
.title-game-explication{background-color: rgb(250, 250, 250);  } 
.content-img-explication  .transition-01{ position: absolute; top: 0; animation-name: cf3FadeInOut; animation-timing-function: ease-in-out; animation-iteration-count: infinite; animation-duration: 5s; animation-direction: alternate; animation-delay: -1s;}
.content-img-explication  .transition-02{ position: absolute; top: 0; animation-name: cf3FadeInOut; animation-timing-function: ease-in-out; animation-iteration-count: infinite; animation-duration: 5s; animation-direction: alternate; animation-delay: 2s; }
.content-img-explication{display: flex; justify-content: center;}
.title-game-explication{text-align: center; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}




/* PARTIE CREAT GAME */
.text-create-game { font-size: 18px; margin-bottom: 50px; width: 96%; }
    

}


@media (min-width: 576px) and (max-width: 767.98px) { 
    
/* PARTIE HEADER */
    .img-logo-header img { width: 36%; height: auto; }
    .rectangle-left, .rectangle-right, .triangle-right, .triangle-left{display: none;}


    /* PARTIE EXPLICATION ESCAPE */
.title-explication { font-size: 34px; }
.content-text-explication { text-align: center; width: 95%; }
.text-explication { font-size: 20px; margin-bottom: 53px; }

/* ANIMATION */

    @keyframes cf3FadeInOut {
        0% { opacity:1; }
        45% { opacity:1; }
        55% { opacity:0; }
        100% { opacity:0; }
      }
.content-img-explication{ position: relative; width: 100%; }

.content-img-explication .transition-01 { display: block;  }
.title-game-explication{background-color: rgb(250, 250, 250);  } 
.content-img-explication  .transition-01{ position: absolute; top: 0; animation-name: cf3FadeInOut; animation-timing-function: ease-in-out; animation-iteration-count: infinite; animation-duration: 5s; animation-direction: alternate; animation-delay: -1s;}
.content-img-explication  .transition-02{ position: absolute; top: 0; animation-name: cf3FadeInOut; animation-timing-function: ease-in-out; animation-iteration-count: infinite; animation-duration: 5s; animation-direction: alternate; animation-delay: 2s; }
.content-img-explication{display: flex; justify-content: center;}
.title-game-explication{text-align: center; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}

/* PARTIE CREATE GAME */

.title-create-game { font-size: 37px; }
    


}


@media (min-width: 768px) and (max-width: 991.98px) { 

/* PARTIE HEADER */
.img-logo-header img { width: 35%; height: auto; }
.rectangle-left, .rectangle-right { height: 20px; width: 127px; }
.btn-play-header { font-size: 49px; width: 415px; height: 105px;}
.triangle-right { border-top: 75px solid transparent; border-left: 45px solid #fba255; border-bottom: 75px solid transparent; }
.triangle-left { border-top: 75px solid transparent; border-right: 45px solid #fba255; border-bottom: 75px solid transparent; }
.content-text-explication { width: 90%; }
.title-explication { font-size: 40px; }
.title-create-game { font-size: 40px; }





.content-img-explication{display: flex;}
.title-game-explication-01, .title-game-explication-02, .title-game-explication-03{text-align: center; font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}
.title-game-explication-01{margin-right: 54px;}

.title-game-explication-03{margin-left: 54px;}
.content-img-game-01 { margin-right: -110px; }
.content-img-game-absolute{z-index: 1; margin-top: 22px;}
.content-img-game-02 { margin-left: -110px; }

.content-img-explication img{width: 324px; height: 231.3px;}
.img-game-explication{width: 486px; height: 347px;}

}


@media (min-width: 992px) and (max-width: 1199.98px) {
    
/* PARTIE HEADER */
.img-logo-header img { width: 35%; height: auto; }
.btn-play-header { font-size: 49px; width: 415px; height: 105px;}
.rectangle-left, .rectangle-right { height: 28px; width: 235px; }
.triangle-right { border-top: 75px solid transparent; border-left: 45px solid #fba255; border-bottom: 75px solid transparent; }
.triangle-left { border-top: 75px solid transparent; border-right: 45px solid #fba255; border-bottom: 75px solid transparent; }



.content-text-explication { width: 99%; }
.content-img-explication{display: flex;}
.title-game-explication{text-align: center; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}
.content-img-game-01 { margin-right: -150px; }
.content-img-game-absolute{z-index: 1; margin-top: 30px;}
.content-img-game-02 { margin-left: -150px; }


}


@media (min-width: 1200px) and (max-width: 1399.98px) { 

    /* PARTIE HEADER */
    .img-logo-header img { width: 35%; height: auto; }
.btn-play-header { font-size: 49px; width: 415px; height: 105px;}
.rectangle-left, .rectangle-right { height: 28px; width: 235px; }
.triangle-right { border-top: 75px solid transparent; border-left: 45px solid #fba255; border-bottom: 75px solid transparent; }
.triangle-left { border-top: 75px solid transparent; border-right: 45px solid #fba255; border-bottom: 75px solid transparent; }




.content-text-explication { width: 99%; }
.content-img-explication{display: flex;}
.title-game-explication{text-align: center; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}
.content-img-game-01 { margin-right: -150px; }
.content-img-game-absolute{z-index: 1; margin-top: 30px;}
.content-img-game-02 { margin-left: -150px; }


}


@media (min-width: 1400px) and (max-width: 1599.98px) { 
    .img-logo-header img { width: 25%; height: auto; }
 
 


.content-img-game-01{margin-right: 110px;}
.content-img-game-02{margin-left: 110px;}
.content-img-explication{display: flex;}
.title-game-explication{text-align: center; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}
.content-img-game-01 { margin-right: -150px; }
.content-img-game-absolute{z-index: 1; margin-top: 30px;}
.content-img-game-02 { margin-left: -150px; }

    

}


@media (min-width: 1600px) and (max-width: 1799.98px) { 
/* PARTIE HEADER */

.img-logo-header img { width: 18%; height: auto; }


.content-btn-play{text-align: center; margin-top: 65px;}
.btn-play-header{outline: none;cursor: pointer ;color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 800; font-size: 24.5px; width: 245px; height: 61px; background-color: #FF9C38; border-radius: 50px; border: none; box-shadow: 0px 10px 0px 0px rgba(197,104,22,1);}

.btn-play-header { font-size: 49px; width: 415px; height: 105px;}
.rectangle-left, .rectangle-right { height: 28px; width: 235px; }
.triangle-right { border-top: 75px solid transparent; border-left: 45px solid #fba255; border-bottom: 75px solid transparent; }
.triangle-left { border-top: 75px solid transparent; border-right: 45px solid #fba255; border-bottom: 75px solid transparent; }
.content-text-explication { width: 70%; }


.content-img-game-01{margin-right: 110px;}
.content-img-game-02{margin-left: 110px;}
.content-img-explication{display: flex;}
.title-game-explication{text-align: center; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}
.content-img-game-01 { margin-right: -150px; }
.content-img-game-absolute{z-index: 1; margin-top: 30px;}
.content-img-game-02 { margin-left: -150px; }



/* PARTIE EXPLICATION GAME */


.text-explication { font-size: 18px; margin-bottom: 50px; }
.content-text-explication { text-align: center; width: 47%; }

.content-img-game-01 { margin-right: -150px; }
.content-img-game-absolute{z-index: 1; margin-top: 30px;}
.content-img-game-02 { margin-left: -150px; }

/* PARTIE CREAT GAME */
.text-create-game { font-size: 18px; margin-bottom: 50px; width: 96%; }
   
    

}


@media (min-width: 1800px) and (max-width: 1999.98px) { 
    .content-img-game-01{margin-right: 110px;}
    .content-img-game-02{margin-left: 110px;}
    .content-img-explication{display: flex;}
    .title-game-explication{text-align: center; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 0;}
    .content-img-game-01 { margin-right: -150px; }
    .content-img-game-absolute{z-index: 1; margin-top: 30px;}
    .content-img-game-02 { margin-left: -150px; }
  

}